body{
    margin: 0;
    padding: 0;
    height: 100;
    font-family: 'Roboto';
    background-color: #f1effb;
}

p{
    font-size: 18px;
}

header{
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
}

.score-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.score-component{
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #3a2895;
}

.score{
    font-size: 28px;
    font-weight: bolder;
}

.subtitle p{
    font-size: 20px;
}

.subtitle h2{
    font-size: 28px;
}

#game{
    text-align: center;
    padding: 60px 0;
}

.restart-btn{
    border-radius: 10px;
    padding: 14px 28px;
    background-color: #3a2895;
    display: none;
}

.show-btn{
    margin: 0 auto;
    display: block;
}

.controls{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.hide-btns{
    display: none;
}

.controls > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: #3a2895;
    border-radius: 10px;
    padding: 14px 28px;
}

.controls > div > .fa{
    font-size: 24px;
}

button{
    /* padding: 14px 28px; */
    border: 0;
    /* border-radius: 10px; */
    /* width: 140px; */
    font-size: 22px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

/* button:hover{
    background-color: opacity(0.7);
} */

